<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>회원 상세 페이지</title>
</head>

<body>

	<div class="member-box">

		<h2>회원 상세 페이지</h2>
		<input type="hidden" id="user_id" th:value="${result.MEMBER_INFO.ID}" />
		<table>
			<tr>
				<td>아이디</td>
				<td th:text="${result.MEMBER_INFO.ID}"></td>
			</tr>
			<tr>
				<td>이름</td>
				<td><input type="text" id="user_name" th:value="${result.MEMBER_INFO.USER_NAME}" /></td>
			</tr>
			<tr>
				<td>이메일</td>
				<td><input type="text" id="user_email" th:value="${result.MEMBER_INFO.USER_EMAIL}" /></td>
			</tr>
			<tr>
				<td>등록일시</td>
				<td th:text="${result.MEMBER_INFO.REG_DT}"></td>
			</tr>
			<tr>
				<td>수정일시</td>
				<td th:text="${result.MEMBER_INFO.MOD_DT}"></td>
			</tr>
		</table>
	</div>
	<button id="btn_modify" onclick="modifyMember()">수정</button>
	<button id="btn_remove" onclick="removeMember()">삭제</button>
</body>

<script lang="javascript">

	// javascript로 이벤트를 정의하는 방식
	// document.getElementById('btn_regist').addEventListener('click', function() {});	

	// 회원 정보 수정
	function modifyMember() {

		// 회원 정보
		var user_id = document.getElementById('user_id').value;
		var user_name = document.getElementById('user_name').value;
		var user_email = document.getElementById('user_email').value;

		if (!user_name || !user_email) {
			alert('모든 필드를 입력해주세요.');
			return false;
		}

		fetch('/account/request-modify', {
			method: 'POST',
			credentials: 'include',
			headers: {'Content-Type': 'application/json'},
			body: JSON.stringify({
				"userId": user_id, // 수정할 대상을 조회하기 위한 정보
				"userName": user_name, // 수정할 이름
				"userEmail": user_email // 수정할 이메일
			})
		})
			.then(response => response.json())
			.then(data => {
				// 회원 정보 수정 성공 처리
				if (data.REPL_CD == '0000') {
					alert('수정이 완료되었습니다.');
				}
				// 회원 정보 수정 실패 처리
				else {
					// alert 띄우는 방식
					alert(data.REPL_PAGE_MSG);
				}

			})
			.catch(error => {
				console.error('회원 정보 수정 오류 발생', error);
			})
	}

	// 회원 정보 삭제
	function removeMember() {
		
		if (!confirm("삭제하시겠습니까?")) {
			return false;
		}
		
		// 회원 정보
		var user_id = document.getElementById('user_id').value;

		fetch('/account/request-remove', {
			method: 'POST',
			credentials: 'include',
			headers: {'Content-Type': 'application/json'},
			body: JSON.stringify({
				"userId": user_id
			})
		})
			.then(response => response.json())
			.then(data => {
				// 회원 정보 삭제 성공 처리
				if (data.REPL_CD == '0000') {
					alert('삭제가 완료되었습니다.');
					window.location.href = '/home';
				}
				// 회원 정보 삭제 실패 처리
				else {
					// alert 띄우는 방식
					alert(data.REPL_PAGE_MSG);
				}

			})
			.catch(error => {
				console.error('회원 정보 삭제 오류 발생', error);
			})
	}

</script>

</html>